<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Condo Fácil Demo</title>

    <!-- Styles -->
    <link type="text/css" href="/Libs/KendoUI/styles/kendo.common.min.css" rel="stylesheet" />
    <link type="text/css" href="/Libs/KendoUI/styles/kendo.material.min.css" rel="stylesheet" />
    <link type="text/css" href="/Libs/KendoUI/styles/kendo.material.mobile.min.css" rel="stylesheet" />
    <link type="text/css" href="Assets/Styles/custom.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>
<body kendo-mobile-application ng-app="CondoFacil">

    <!-- Home -->
    <kendo-mobile-view id="home" ng-controller="HomeController">

        <!--Navbar-->
        <kendo-mobile-header>
            <kendo-mobile-nav-bar>
                <span kendo-view-title>Demo Condo Fácil</span>
            </kendo-mobile-nav-bar>
        </kendo-mobile-header>

        <!--Botones navegación-->
        <div class="nav-button-container">
            <kendo-mobile-button class="button nav-button" k-align="'center'" href="#user">
                Usuarios
            </kendo-mobile-button>

            <br />

            <kendo-mobile-button class="button nav-button" k-align="'center'" href="#condo">
                Condominios
            </kendo-mobile-button>

            <br />

            <kendo-mobile-button class="button nav-button" k-align="'center'" href="#finca">
                Fincas filiales
            </kendo-mobile-button>

        </div>
    </kendo-mobile-view>

    <!-- Listar fincas filiales -->
    <kendo-mobile-view id="finca" ng-controller="FincaController" ng-init="init()">

        <!--Navbar-->
        <kendo-mobile-header>
            <kendo-mobile-nav-bar>
                <span kendo-view-title>Fincas</span>
                <a href="#home" data-align="left" kendo-mobile-back-button>Volver</a>
                <a href="#addFinca" data-align="right" kendo-mobile-back-button>Agregar</a>
            </kendo-mobile-nav-bar>
        </kendo-mobile-header>

        <!--Lista de fincas-->
        <kendo-mobile-list-view data-source="source">
            <ul class="fincaItem" k-template>{{ dataItem.NumberProperty }}</ul>
        </kendo-mobile-list-view>

    </kendo-mobile-view>

    <!-- Agregar finca filial -->
    <kendo-mobile-view id="addFinca" ng-controller="FincaController" ng-init="init()">

        <!--Navbar-->
        <kendo-mobile-header>
            <kendo-mobile-nav-bar>
                <span kendo-view-title>Agregar Fincas</span>
                <a href="#finca" data-align="left" kendo-mobile-back-button>Volver</a>
            </kendo-mobile-nav-bar>
        </kendo-mobile-header>

        <!--Formulario para agregar finca filial-->
        <div class="k-content">
            <div class="form-control">
                <div>Id:</div>
                <input class="k-textbox" type="text" ng-model="finca.Id" />
            </div>
            <div class="form-control">
                <div>Id Condominio:</div>
                <input class="k-textbox" type="text" ng-model="finca.IdCondominio" />
            </div>
            <div class="form-control">
                <div>Id Usuario:</div>
                <input class="k-textbox" type="text" ng-model="finca.IdUser" />
            </div>
            <div class="form-control">
                <div>Número de propiedad:</div>
                <input class="k-textbox" type="text" ng-model="finca.NumberProperty" />
            </div>
            <div class="form-control">
                <div>Estado:</div>
                <input class="k-textbox" type="text" ng-model="finca.Status" />
            </div>
        </div>

        <!--Botón agregar-->
        <div class="nav-button-container">
            <button class="k-button add-button" type="button" ng-click="add()">Agregar</button>
        </div>

    </kendo-mobile-view>

    <!--Listar Usuarios-->
    <kendo-mobile-view id="user" ng-controller="UserController" ng-init="init()">

        <!--Navbar-->
        <kendo-mobile-header>
            <kendo-mobile-nav-bar>
                <span kendo-view-title>Usuarios</span>
                <a href="#home" data-align="left" kendo-mobile-back-button>Volver</a>
                <a href="#addUser" data-align="right" kendo-mobile-back-button>Agregar</a>
            </kendo-mobile-nav-bar>
        </kendo-mobile-header>

        <!--Lista de usuarios-->
        <kendo-mobile-list-view data-source="source">
            <ul class="userItem" k-template>{{ dataItem.Username }}</ul>
        </kendo-mobile-list-view>

    </kendo-mobile-view>

    <!--Agregar usuario-->
    <kendo-mobile-view id="addUser" ng-controller="UserController" ng-init="init()">

        <!--Navbar-->
        <kendo-mobile-header>
            <kendo-mobile-nav-bar>
                <span kendo-view-title>Agregar Usuario</span>
                <a href="#user" data-align="left" kendo-mobile-back-button>Volver</a>
            </kendo-mobile-nav-bar>
        </kendo-mobile-header>

        <!--Formulario para agregar un usuario nuevo-->
        <div class="k-content">
            <div class="form-control">
                <div>Id de usuario:</div>
                <input class="k-textbox" ng-model="user.Id" type="text" />
            </div>
            <div class="form-control">
                <div>Nombre de usuario:</div>
                <input class="k-textbox" ng-model="user.Username" type="text" />
            </div>
            <div class="form-control">
                <div>Email:</div>
                <input class="k-textbox" ng-model="user.Email" type="text" />
            </div>
            <div class="form-control">
                <div>Contraseña:</div>
                <input class="k-textbox" ng-model="user.Password" type="text" />
            </div>
            <div class="form-control">
                <div>Teléfono:</div>
                <input class="k-textbox" ng-model="user.Phone" type="text" />
            </div>
            <div class="form-control">
                <div>Identificación:</div>
                <input class="k-textbox" ng-model="user.Identification" type="text" />
            </div>

        </div>

        <!--Botón agregar-->
        <div class="nav-button-container">
            <button class="k-button add-button" type="button" ng-click="add()">Agregar</button>
        </div>

    </kendo-mobile-view>

    <!-- Listar Condo -->
    <kendo-mobile-view id="condo" ng-controller="CondoController" ng-init="init()">

        <!--Navbar-->
        <kendo-mobile-header>
            <kendo-mobile-nav-bar>
                <span kendo-view-title>Condominios</span>
                <a href="#home" data-align="left" kendo-mobile-back-button>Volver</a>
                <a href="#addCondo" data-align="right" kendo-mobile-back-button>Agregar</a>
            </kendo-mobile-nav-bar>
        </kendo-mobile-header>

        <!--Lista de condominios-->
        <kendo-mobile-list-view data-source="source">
            <ul class="condoItem" k-template>{{dataItem.Description}}</ul>
        </kendo-mobile-list-view>
    </kendo-mobile-view>

    <!--Agregar condominio-->
    <kendo-mobile-view id="addCondo" ng-controller="CondoController" ng-init="init()">

        <!--Navbar-->
        <kendo-mobile-header>
            <kendo-mobile-nav-bar>
                <span kendo-view-title>Agregar Condominio</span>
                <a href="#condo" data-align="left" kendo-mobile-back-button>Volver</a>
            </kendo-mobile-nav-bar>
        </kendo-mobile-header>

        <!--Formulario para agregar un condominio nuevo-->
        <div class="container">
            <div class="form-control">
                <div>Id:</div>
                <input class="k-textbox" ng-model="condo.Id">
            </div>
            <div class="form-control">
                <div>Descripción:</div>
                <input class="k-textbox" ng-model="condo.Description">
            </div>
            <div class="form-control">
                <div>Url:</div>
                <input class="k-textbox" ng-model="condo.Url">
            </div>
            <div class="form-control">
                <div>Logo:</div>
                <input class="k-textbox" ng-model="condo.Logo">
            </div>
        </div>

        <!--Botón agregar-->
        <div class="nav-button-container">
            <button class="k-button add-button" type="button" ng-click="add()">Agregar</button>
        </div>

    </kendo-mobile-view>

    <!-- Libs -->
    <script type="text/javascript" src="/Libs/KendoUI/js/jquery.min.js"></script>
    <script type="text/javascript" src="/Libs/KendoUI/js/angular.min.js"></script>
    <script type="text/javascript" src="/Libs/KendoUI/js/kendo.all.min.js"></script>

    <!-- App -->
    <script type="text/javascript" src="/App/App.js"></script>
    <script type="text/javascript" src="/App/Config.js"></script>
    <script type="text/javascript" src="/App/Global.js"></script>

    <script type="text/javascript" src="/App/Services/DataModel.js"></script>

    <script type="text/javascript" src="/App/Models/User.js"></script>
    <script type="text/javascript" src="/App/Models/Condo.js"></script>
    <script type="text/javascript" src="/App/Models/Finca.js"></script>

    <script type="text/javascript" src="/App/Controllers/HomeController.js"></script>
    <script type="text/javascript" src="/App/Controllers/CondoController.js"></script>
    <script type="text/javascript" src="/App/Controllers/UserController.js"></script>
    <script type="text/javascript" src="/App/Controllers/FincaController.js"></script>
</body>
</html>